HOST: 'localhost:3000'
TWITTER_APP_ID: 'a'
TWITTER_APP_SECRET: 'b'
NEW_RELIC_APP_NAME: 'wareware'
GA: 'UA-nnnnnnnn-m'
GOOGLE_MAP_API_KEY: 'your key'
test:
  TEST_ASSET_HOST: ''
  # forman
  #TEST_ASSET_HOST: 'http://localhost:3000'
staging:
  NEW_RELIC_APP_NAME: 'wareware-stg'
production:
  BUGSNAG_API_KEY: ''
  NEW_RELIC_APP_NAME: 'wareware'
  NEWRELIC_DISPATCHER: 'Puma'
  SESSION_KEY: '_wareware_session'
  SECRET_TOKEN: 'Be change this to `rake secret` result'
